

.header {
    display: flex;

    padding: 1rem;
    background-color: #E8E0FF;
    margin: 0;
}

.header h1{
    margin-left: 15px;
}

.logoContainer{
    margin: 2px;
}

.logoContainer img{
    width: 200%;
    height: auto;
}