.container {
    display: flex;
}

.heroTextContainer {
    max-width: 30%;
    height: auto;
    background-color: #E8E0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: 10px;
    border-radius: 20px;
}

.heroTextContainer h1 {
    font-size: 60px;
    max-width: 100%;
    margin: 20px;
}

.heroTextContainer p {
    font-size: 24px;
    max-width: 100%;
    margin: 20px;
}
.heroImage-container {
    margin-left: 20px;
    margin-top: 2%;
}

.heroImage-container img {
    width: 80%;
    height: auto;
    border-radius: 20px;
}

.eWasteImageContainer{
    margin-left: 20px;

}

.eWasteImageContainer img{
    width: 800px;
    height: auto;
    border-radius: 20px;
}

.eWasteTextContainer{
    display: flex;
    flex-direction: column;
    background-color: #E8E0FF;
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 5%;

}

.eWasteTextContainer h2{
    font-size: 24px;
}

.eWasteTextContainer p{
    font-size: 16px;
}

.meinButton{
    background-color: #4A7E43;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.callToActionButton_position{
    margin-left: 20px;
    margin-bottom: 10%;


}

.callToActionButton{
    background-color: #4A7E43;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.callToActionButton:hover,
.callToActionButton:active {
    background-color: darkgreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.eWasteButton {
    background-color: #4A7E43;
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.eWasteButton:hover,
.eWasteButton:active {
    background-color: darkgreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.h1_Timeline_überschrift{
    text-align: center;
    font-weight: bold;
}

.DL-textContainer{
    display: flex;
    flex-direction: column;
    margin: 10%;
}



.quizTitle{
    margin-top: 10%;
}
.quizTitle h1{
    margin-left: 30%;
}

.quizContainer {
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    background-color: #E8E0FF;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.quizContainer img{
    width: auto;
    height: 50%;
    max-height: 600px;

}


.quizContainer h3 {
    margin-bottom: 10px;
}


.quizContainer input[type="radio"] {
    margin-right: 5px;
}


.quizResult {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.quizResult button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quizResult button:hover {
    background-color: #45a049;
}
