.container {
    display: flex;
}

.heroTextContainer {
    max-width: 30%;
    height: auto;
    background-color: #E8E0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10px;
    border-radius: 20px;
}

.heroTextContainer_h1 {
    font-size: 60px;
    max-width: 100%;
    margin: 20px;
}

.heroTextContainer_p {
    font-size: 24px;
    max-width: 100%;
    margin: 20px;
}
.heroImage-container {
    margin-left: 20px;
    margin-top: 2%;
}

.heroImage-container img {
    width: 80%;
    height: auto;
    border-radius: 20px;
}
