

* {
    box-sizing: border-box;
}

.T-Animation_Placeholder{
    width: 100%;
    height: 300px;
    background-color: lightblue;
}


.timeline {
    position: relative;

    margin: 0 auto;
    background-color: #E8E0FF;
    z-index: 1;
}

.progress-container {
    margin-top: 0;
    width: 17px;
    height: 219vh;
    background: white;
    position: absolute;
    left: 49.8%;
    z-index: 2;
}

.progress-bar {
    width: 17px;
    background: #E6FEE5;
    height: 100%;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 15px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.T_container {
    padding: 80px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


.T_container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -20px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 49%;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
}


.right {
    left: 50%;
}


.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}


.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


.right::after {
    left: -13px;
}


.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

